body {
    margin: 0;
    padding: 0;
    background-color: #1873af; /* Blue background color for the site */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
}
hr {
    margin-top: 20px; /* Add margin above the <hr> */
    margin-bottom: 20px; /* Add margin below the <hr> */
}

.instructions {
    text-align: center;
}
.centered {
    text-align: center; /* Center the text inside the container */
}

.instructionsContainer {
    display: flex;
    justify-content: center; /* Center the content horizontally */
}

/* Hide the default file input */
#contentFile {
    display: none;
}

#container {
    text-align: center;
    padding: 20px; /* Add some padding for better aesthetics */
    background-color: #c5c5c5; /* White background color for the main container */
    max-width: 1000px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    
}


#preview {
    margin: 0 auto; /* Center the div horizontally */
    max-width: 600px; /* Optional: Set a maximum width for the preview */
}

#embed-preview {
    background-color: #2B2D31; /* Dark background color */
    color: #ffffff; /* White text color */
    padding: 10px;
    border-radius: 5px;
    text-align: left; /* Align text to the left */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Discord's UI font */
    margin: 0 auto; /* Center align horizontally */
}

.discord-embed .image-container img {
    max-width: 100%; /* Limit the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Apply border radius */
    display: block; /* Ensure the image behaves as a block element */
    margin-top: 10px; /* Add some space above the image */
}

#embed-preview .image {
    max-width: 100%; /* Limit the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Apply border radius */
    display: block; /* Ensure the image behaves as a block element */
    margin-top: 10px; /* Add some space above the image */
}

#embed-preview h2 {
    color: #7289DA; /* Discord highlight blue */
    font-size: 14px; /* Adjusted font size */
    margin-bottom: 10px;
}

.discord-embed {
    background-color: #2B2D31; /* Dark background color */
    border: 1px solid #2B2D31; /* Dark border color */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 400px; /* Adjust as needed */
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Discord's UI font */
    border-left: 5px solid rgb(255, 220, 22); /* Left border with specified color */
    font-size: 12px; /* Adjusted font size */
}
.discord-embed .title {
    color: #5D9FFF; /* Discord highlight blue */
    font-weight: bold;
    text-align: left; /* Align text to the left */
    text-decoration: none; 
}
.discord-embed .title a {
    color: #5D9FFF; 
    text-decoration: none; 
}

.discord-embed .description {
    color: #ffffff; /* White text color */
    margin-top: 5px;
    text-align: left; /* Align text to the left */
}

.discord-embed .author {
    color: #FFFFFF; /* White text color */
    font-style: italic;
    margin-top: 5px;
    text-align: left; /* Align text to the left */
}

.discord-embed .footer {
    color: #ffffff; /* White text color */
    font-size: 12px;
    margin-top: 5px;
    text-align: left; /* Align text to the left */
}

.discord-embed .ratings {
    color: #ffffff; /* White text color */
    margin-top: 10px;
    text-align: left; /* Align text to the left */
}

.discord-embed .ratings .rating-title {
    font-weight: bold;
}

.discord-embed .field {
    color: #ffffff; /* White text color */
    margin-top: 10px;
    text-align: left; /* Align text to the left */
}

.discord-embed .field .name {
    font-weight: bold;
}

.discord-embed .field .value {
    margin-top: 5px;
    text-align: left; /* Align text to the left */
}
